@page "/"
@using Blazor.GoldenLayout
<PageTitle>Home</PageTitle>

<div>主页</div>

<GoldenLayoutContainer  GoldenLayoutConfiguration="layoutConfig" GoldenLayoutComponentNameList="types">

</GoldenLayoutContainer>

@code{
    private List<Type> types = new List<Type>
    {
     typeof(Counter)
    };
    private  GoldenLayoutConfiguration layoutConfig = new GoldenLayoutConfiguration
        {
            Content = new List<ContentItem>
    {
        new ContentItem
        {
            ContentType = ContentType.Row,
            Content = new List<ContentItem>
            {
                new ContentItem
                {
                    ContentType = ContentType.Component,
                    ComponentName = typeof(Counter).ToString(),
                },
                new ContentItem
                {
                    ContentType = ContentType.Component,
                    ComponentName = typeof(Counter).ToString(),
                },
                new ContentItem
                {
                    ContentType = ContentType.Component,
                    ComponentName = typeof(Counter).ToString(),
                }
            }
        }
                }
        };
  
}
