@page "/"
@inject IJSRuntime JsRuntime
@using Blazor.GoldenLayout
@using System.Text.Json
<PageTitle>Home</PageTitle>

<GoldenLayoutSpawner >
    <div style="width:1000px;display: flex; gap: 12px; padding: 8px 12px; justify-content: center; background-color: #f9f9f9; border-radius: 8px; align-items: center;">
        <GoldenLayoutSpawnerItem ContentItem="_counter">ByDrag</GoldenLayoutSpawnerItem>
        <GoldenLayoutSpawnerItem ContentItem="_hello" SpawnerType="GoldenLayoutSpawnerType.BySelection">BySelection</GoldenLayoutSpawnerItem>
    </div>
</GoldenLayoutSpawner>

<GoldenLayout Style="width:1000px;height:800px" GoldenLayoutConfiguration="_configuration" SelectionChangedCallback="SelectionChangedCallback">
    <GoldenLayoutColumn>
    <GoldenLayoutRow Title="Row">
        
        <GoldenLayoutStack>
            <GoldenLayoutComponent ComponentName="Counter" Title="计数器"></GoldenLayoutComponent>
            <GoldenLayoutComponent ComponentName="HelloWorld" Title="Hello"></GoldenLayoutComponent>
            <GoldenLayoutComponent ComponentName="Counter" Title="计数器" ></GoldenLayoutComponent>
        </GoldenLayoutStack>

        <GoldenLayoutComponent ComponentName="HelloWorld" Title="Hello"></GoldenLayoutComponent>
        <GoldenLayoutComponent ComponentName="HelloWorld" Title="Hello"></GoldenLayoutComponent>
    </GoldenLayoutRow>
    <GoldenLayoutStack>
            <GoldenLayoutComponent ComponentName="HelloWorld" Title="Hello"></GoldenLayoutComponent>
            <GoldenLayoutComponent ComponentName="Counter" Title="计数器"></GoldenLayoutComponent>
    </GoldenLayoutStack>
    </GoldenLayoutColumn>
</GoldenLayout>

@code
{
    private ContentItem _counter = new ContentItem()
    {
        ContentType = ContentType.Component,
        ComponentName = "Counter",
        Title = "计数器",
        ComponentState = new Dictionary<string, object>
        {
            { "Cnt", 123 }
        },
        IsClosable = true
    };

    public ContentItem _hello = new ContentItem()
    {
        ContentType = ContentType.Component,
        ComponentName = "HelloWorld",
        Title = "Hello",
        IsClosable = true
    };

    private GoldenLayoutConfiguration _configuration = new GoldenLayoutConfiguration()
    {
        Settings = new Settings()
        {
            SelectionEnabled = true
        }
    };

    private void SelectionChangedCallback()
    {
        JsRuntime.InvokeVoidAsync("alert", "ou haven't selected a tab.");
    }
}
