@page "/"
@using Blazor.GoldenLayout
<PageTitle>Home</PageTitle>

<div>主页</div>

<GoldenLayoutContainer  GoldenLayoutConfiguration="layoutConfig" >

</GoldenLayoutContainer>

@code{
    private  GoldenLayoutConfiguration layoutConfig = new GoldenLayoutConfiguration
        {
            Content = new List<ContentItem>
    {
        new ContentItem
        {
            ContentType = ContentType.Row,
            Content = new List<ContentItem>
            {
                new ContentItem
                {
                    ContentType = ContentType.Component,
                    ComponentName = "Counter",
                    ComponentState=new Dictionary<string, object>
                    {
                        {"Cnt",123 }
                    }
                },
                new ContentItem
                {
                    ContentType = ContentType.Component,
                    ComponentName = "Counter",
                },
                new ContentItem
                {
                    ContentType = ContentType.Component,
                    ComponentName = "Counter",
                }
            }
        }
                }
        };
  
}
