@using Microsoft.JSInterop
@using System.Text.Json
@inject IJSRuntime JsRuntime
@inject GoldenLayoutComponentService GoldenLayoutComponentService
@inject  GoldenLayoutSolveRegisterService GoldenLayoutSolveRegisterService
@inject GoldenLayoutEventService GoldenLayoutEventService
<div @ref=elementReference style="@Style" @attributes=@AdditionalAttributes>
    <CascadingValue Value="Identity">
    <CascadingValue Value="@(ContentItems)">
        @ChildContent
    </CascadingValue>
    </CascadingValue>
</div>

