@using Microsoft.JSInterop
@inject IJSRuntime _jsRuntime
@inject GoldenLayoutComponent GoldenLayoutComponent
<div @ref=elementReference style="width:1000px;height:1000px">

</div>


@code
{
    [Parameter]
    public GoldenLayoutConfiguration? GoldenLayoutConfiguration { get; set; }

    private DotNetObjectReference<GoldenLayoutContainer>? _dotNetRef;

    private class GoldenLayoutItem
    {
        public Type? ComponentType { get; set; }
        public string? Id { get; set; }
    }

    private GoldenLayout? goldenLayout;
    private ElementReference elementReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (GoldenLayoutConfiguration == null)
            {
                throw new Exception("GoldenLayoutConfiguration can not be null!");
            }


            _dotNetRef = DotNetObjectReference.Create(this);
            goldenLayout = await GoldenLayout.CreateGoldenLayout(_jsRuntime, GoldenLayoutConfiguration, elementReference);
            await goldenLayout.RegisterComponent(_dotNetRef, GoldenLayoutComponent.GetAll().Values);

            await goldenLayout.Init();
            await InvokeAsync(StateHasChanged);
        }
    }

    [JSInvokable]
    public async Task RegisterComponent()
    {

    }

}