@using Microsoft.JSInterop
@using System.Text.Json
@inject IJSRuntime JSRuntime
@inject GoldenLayoutComponentService GoldenLayoutComponentService
@inject GoldenLayoutEventService GoldenLayoutEventService
<div @ref=elementReference  style="@Style"  @attributes=@AdditionalAttributes>

</div>

